<!doctype html>
<html lang="en">
    <head>
        <title>Audible is Missing</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.25.0/dist/bootstrap-table.min.css">
    </head>

    <body class="d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <ul class="nav justify-content-start">
                        <a class="navbar-brand bi bi-book" href="/">Audible is Missing</a>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/series">Series</a>
                        </li>
                    </ul>



                <!-- Dark mode -->
                <div>
                    <li class="nav-item align-items-center d-flex" >
                        <i class="bi bi-sun-fill"></i>
                        <div class="ms-2 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch" />
                        </div>
                        <i class="bi bi-moon-fill"></i>
                    </li>
                    <script src="/static/js/dark_mode.js"></script>
                </div>
            </nav>
        </header>

    
        <main class="container-fluid"">
            {% block content %}
            {% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.25.0/dist/bootstrap-table.min.js"></script>

        <div class="container-fluid"> 
            <footer class="footer sticky-bottom py-3">
                <a href="https://github.com/audibleismissing/audibleismissing">Github</a>
            </footer>
        </div>
    </body>
</HTML>
