{% extends 'base.html' %}
{% block content %}
    <div class="row g-2 container-fluid"">
        <p></p>
        {% if details.imageUrl is not none %}
        <div class="float-start">
            <img class="float-start" src={{ details.imageUrl }} style="width:256px;height:256px;">
            <div class="row">
                <div class="float-start">
                    <div>Title: {{ details.title }}</div>
                    <div>
                        Book ASIN: <a href="https://www.audible.com/pd/{{ details.bookAsin }}" target="_blank">{{ details.bookAsin }}</a>
                        <button class="btn btn-sm btn-outline-primary wish-btn" data-book-id="{{ details['bookId'] }}"></button>
                    </div>
                    <div>Release Date: {{ details.releaseDate }}</div>
                    <div>Series: <a href='/series/details/{{ details.seriesId }}/'>{{ details.seriesName }}</a></div>
                    <div>Sequence: {{ details.sequence }}</div>
                    <div>Books in Series: {{ details.totalBooksInSeries }}</div>
                    <div>
                        Series ASIN: <a href="https://www.audible.com/series/{{ details.seriesAsin }}" target="_blank">{{ details.seriesAsin }}</a>
                        <button class="btn btn-sm btn-outline-primary watch-btn" data-series-id="{{ details.seriesId }}"></button>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div>No Picure</div>
        {% endif %}
        <p></p>
        <div>
            {{ details.description }}
        </div>

        <p></p>
        <div class="container row">
            <!-- authors -->
            <div class="col">
                <table id="authors-table" data-toggle="table" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th data-field="name" data-searchable="true" data-sortable="true">Authors</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in authors %}
                        <tr>
                            <td>{{ item['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- narrators -->
            <div class="col">
                <table id="narrators-table" data-toggle="table" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th data-field="name" data-searchable="true" data-sortable="true">Narrators</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in narrators %}
                        <tr>
                            <td>{{ item['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- genres -->
            <div class="col">
                <table id="genres-table" data-toggle="table" class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th data-field="name" data-searchable="true" data-sortable="true">Genres</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in genres %}
                        <tr>
                            <td>{{ item['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/static/js/btn_series_watch_list.js"></script>
    <script src="/static/js/btn_book_wish_list.js"></script>
{% endblock %}
