{% extends 'base.html' %}
{% block content %}
    <div class="row g-2 container-fluid"">
        <p></p>
        {% if details.imageUrl is not none %}
        <div class="float-start">
            <img class="float-start" src={{ details.imageUrl }} style="width:256px;height:256px;">
            <div class="row g-5">
            <div class="float-start">
                <div>Title: {{ details.title }}</div>
                <div>ASIN: <a href="https://www.audible.com/pd/{{ details.bookAsin }}">{{ details.bookAsin }}</a></div>
                <div>Release Date: {{ details.releaseDate }}</div>
                <div>Series: {{ details.seriesName }}</div>
                <div>Sequence: {{ details.sequence }}</div>
                <div>Books in Series: {{ details.totalBooksInSeries }}</div>
                <div>Series ASIN: {{ details.seriesAsin }}</div>
            </div></div>
        </div>
        {% else %}
        <div>No Picure</div>
        {% endif %}
        <p></p>
        <div>{{ details.description }}</div>
    </div>
{% endblock %}