{% extends 'base.html' %}
{% block content %}
    <!-- <div>
        <h1>Reports</h1>
        <ul>
            <li><a href="#">Series Missing Books in Library</a></li>
        </ul>
    </div> -->

    <div>
        <h4>Admin Actions</h4>
        <ul>
            <li><a href="http://127.0.0.1:8000/docs">Swagger API Docs</a></li>
        </ul>
    </div>



    <!-- Calendar -->
    <!-- releases -->
     <h4>Upcoming Releases</h4>
    <ul>
    {% for item in releases %}
        <li><a href="https://www.audible.com/pd/{{ item.bookAsin }}" target="_blank">{{ item.releaseDate }} - {{ item.seriesName }} - {{ item.title }}, book {{ item.sequence }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
