{% extends 'base.html' %}
{% block content %}
    <div>Series Details: {{ table[0].seriesname }}</div>
    <div>Books in Series: {{ counts[0]['totalBooksInSeries'] }}</div>
    <div>Books in Library: {{ counts[0]['totalBooksInLibrary'] }}</div>
    
    <table id="book-table" data-toggle="table" data-search="true" data-pagination="true" class="table table-striped table-responsive">
        <thead>
            <tr>
                <th data-field="title" data-searchable="true" data-sortable="true">Title</th>
                <th data-field="bookAsin" data-searchable="true" data-sortable="true">ASIN</th>
                <th data-field="releaseDate" data-searchable="true" data-sortable="true">Release Date</th>
                <th data-field="isOwned" data-sortable="true">Owned</th>
                <th data-field="audibleOverallAvgRating" data-sortable="true">Avg Rating</th>
                <th data-field="sequence" data-sortable="true">Sequence</th>
            </tr>
        </thead>
        <tbody>
            {% for item in table %}
                {% if item.isOwned == 0 %}
                <tr class="table-warning">
                {% else %}
                <tr>
                {% endif %}
                
                    <td>{{ item.title }}</td>
                    <td><a href='https://www.audible.com/pd/{{ item.bookAsin }}' target="_blank">{{ item.bookAsin }}</td>
                    <td>{{ item.releaseDate }}</td>
                    <td>{{ item.isOwned }}</td>
                    <td>{{ item.audibleOverallAvgRating }}</td>
                    <td>{{ item.sequence }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}